.footer {
  background-color: rgb(15, 62, 104);
  color: white;
  padding: 1rem 0 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: .8rem;
  text-align: center;
}

.footer-about {
  flex: 1;
  min-width: 300px;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
  color: white;
}

.footer-about p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.social-links {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--accent);
}

.footer-links {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.link-group {
  flex: 1;
  min-width: 150px;
}

.link-group h4 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: white;
  position: relative;
  padding-bottom: 0.5rem;
}

.link-group h4::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 2px;
  background-color: var(--accent);
}

.link-group ul {
  list-style: none;
}

.link-group li {
  margin-bottom: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
}

.link-group a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-group a:hover {
  color: var(--accent);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}